/* Estilos para o cabeçalho */
header {
    background-color: #06090c;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Estilos para a logo */
.logo {
    width: 150px;
}

/* Estilos para a navegação */
nav {
    text-align: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

body {
    background-color: #12181d; /* Fundo azul escuro */
    margin: 0; /* Remove margens padrão do body */
}


/* Adicionando Media Queries para responsividade */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 10px;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }
}

/* Adicionando Media Queries para responsividade */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 10px;
    }

    nav ul {
        text-align: right;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }
}

/* Estilos para a intro-text */
.intro-text {
    background-color: #285f8b; /* Fundo rosa pálido */
    text-align: center;
    padding: 50px; /* Espaçamento interno de 20px em todas as direções */
    opacity: 0;
    animation: slideUp 1s ease-in-out 0.5s forwards;
    border-radius: 15px; /* Adiciona cantos arredondados à caixa com um raio de 20px */
    max-width: 900px; /* Defina o valor desejado para limitar a largura do background */
    margin-left: auto; /* Centraliza o elemento horizontalmente */
    margin-right: auto; /* Centraliza o elemento horizontalmente */

    position: absolute;
    top: 30%;
    left: 25%;
    transform: translate(-50%, -50%);

    
}

.intro-text2 {
    background-color: #12181d; /* Fundo rosa pálido */
    text-align: center;
    padding: 50px; /* Espaçamento interno de 20px em todas as direções */
    opacity: 0;
    animation: slideUp 1s ease-in-out 0.5s forwards;
    border-radius: 15px; /* Adiciona cantos arredondados à caixa com um raio de 20px */
    max-width: 1470px; /* Defina o valor desejado para limitar a largura do background */
    margin-left: auto; /* Centraliza o elemento horizontalmente */
    margin-right: auto; /* Centraliza o elemento horizontalmente */

    position: absolute;
    top: 115%;
    right: 5%;
    left: 5%;
    transform: translate(-50%, -50%);

    
}



@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Estilos para o texto dentro de intro-text */
.intro-text h1 {
    color: #e0eff3f1;
    font-weight: bold;
    font-size: 40px; /* Ajuste o tamanho do texto conforme necessário */
    margin-bottom: 20px; /* Adiciona uma margem inferior de 15px */
    text-shadow: 5px 5px 9px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave ao texto para destacá-lo */
}

.intro-text p {
    color: #000000;
    font-size: 26px; /* Ajuste o tamanho do texto conforme necessário */
    text-shadow: 50px 2px 4px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave ao texto para destacá-lo */
}


/* Estilos para o texto dentro de intro-text2 */
.intro-text2 h1 {
    color: #dededff1;
    font-weight: bold;
    font-size: 25px; /* Ajuste o tamanho do texto conforme necessário */
    margin-bottom: 25px; /* Adiciona uma margem inferior de 15px */
    text-shadow: 5px 5px 9px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave ao texto para destacá-lo */
}

.intro-text2 p {
    color: #27c0db;
    font-size: 18px; /* Ajuste o tamanho do texto conforme necessário */
    text-shadow: 50px 2px 4px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave ao texto para destacá-lo */
}


/* Estilos para a navegação em telas pequenas */
@media (max-width: 768px) {
    nav ul {
        display: none; /* Oculta a lista de menu por padrão */
        text-align: center;
        width: 100%;
        position: absolute;
        top: 60px; /* Altura do cabeçalho */
        background-color: #06090c;
    }

    nav ul.show {
        display: block; /* Mostra a lista de menu quando a classe 'show' é adicionada */
    }

    .menu-toggle {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
}
