/* Estilos para o cabeçalho */
header {
    background-color: #06090c;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* Estilos para a logo */
.logo {
    width: 150px;
}

/* Estilos para a navegação */
nav {
    text-align: right;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}



/* Adicionando Media Queries para responsividade */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 10px;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }
}

/* Adicionando Media Queries para responsividade */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
    }

    .logo {
        margin-bottom: 10px;
    }

    nav ul {
        text-align: right;
    }

    nav ul li {
        display: block;
        margin: 5px 0;
    }
}


body {
    background-color: #010713; /* Fundo azul escuro */
    margin: 0; /* Remove margens padrão do body */
}



@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/* Estilos para a intro-text */
.intro-text {
    background-color: #103377; /* Fundo rosa pálido */
    text-align: center;
    padding: 50px; /* Espaçamento interno de 20px em todas as direções */
    opacity: 0;
    animation: slideUp 1s ease-in-out 0.5s forwards;
    border-radius: 15px; /* Adiciona cantos arredondados à caixa com um raio de 20px */
    max-width: 1200px; /* Defina o valor desejado para limitar a largura do background */
    margin-left: auto; /* Centraliza o elemento horizontalmente */
    margin-right: auto; /* Centraliza o elemento horizontalmente */

    position: absolute;
    top: 30%;
    left: 10%;
    right: 10%;
    transform: translate(-50%, -50%);

    
}

.intro-text h1 {
    color: #000000;
    font-weight: bold;
    font-size: 40px; /* Ajuste o tamanho do texto conforme necessário */
    margin-bottom: 20px; /* Adiciona uma margem inferior de 15px */
    text-shadow: 5px 5px 9px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave ao texto para destacá-lo */
}

.intro-text p {
    color: #000000;
    font-size: 26px; /* Ajuste o tamanho do texto conforme necessário */
    text-shadow: 50px 2px 4px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave ao texto para destacá-lo */
}


/* Estilos para o texto dentro de intro-text2 */

.intro-text2 {
    background-color: #010713; /* Fundo rosa pálido */
    padding: 50px; /* Espaçamento interno de 20px em todas as direções */
    opacity: 0;
    animation: slideUp 1s ease-in-out 0.5s forwards;
    border-radius: 15px; /* Adiciona cantos arredondados à caixa com um raio de 20px */
    max-width: 500px; /* Defina o valor desejado para limitar a largura do background */
    margin-left: auto; /* Centraliza o elemento horizontalmente */
    margin-right: auto; /* Centraliza o elemento horizontalmente */

    position: absolute;
    top: 115%;
    left: 1%;
    transform: translate(-50%, -50%);

    
}
.intro-text2 h1 {
    color: #dbdbe6f1;
    font-weight: bold;
    font-size: 35px; /* Ajuste o tamanho do texto conforme necessário */
    margin-bottom: 25px; /* Adiciona uma margem inferior de 15px */
    text-align: left;
    text-shadow: 5px 5px 9px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave ao texto para destacá-lo */
}

.intro-text2 p {
    color: #737583;
    font-size: 18px; /* Ajuste o tamanho do texto conforme necessário */
    text-align: left;
    text-shadow: 50px 2px 4px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra suave ao texto para destacá-lo */
}


/* Estilos para a navegação em telas pequenas */
@media (max-width: 768px) {
    nav ul {
        display: none; /* Oculta a lista de menu por padrão */
        text-align: center;
        width: 100%;
        position: absolute;
        top: 60px; /* Altura do cabeçalho */
        background-color: #06090c;
    }

    nav ul.show {
        display: block; /* Mostra a lista de menu quando a classe 'show' é adicionada */
    }

    .menu-toggle {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
}



/* Adicione estas regras ao final do seu arquivo styles.css */

.methodology-section {
    position: relative; /* Adiciona posição relativa ao elemento pai */
}

.methodology-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.methodology-text {
    flex: 1;
    margin: 0 20px;
    text-align: left;
    background-color: #c96f09;
    padding: 20px; /* Adiciona algum espaçamento interno */
    border-radius: 20px; /* Adiciona cantos arredondados */
    box-shadow: 4 8px 16px #000000; /* Adiciona uma sombra suave */
}

.methodology-text h2 {
    color: #fff;
    font-size: 28px;
}

.methodology-text p {
    color: #ccc;
    font-size: 16px;
    line-height: 1.5;
}

/* Mova a seção "Metodologia" para baixo */
#methodology1 {
    top: 190%;
    left: 5%;
    position: absolute;
    max-width: 500px;
}

/* Mova a seção "Metodologia" para baixo */
#methodology2 {
    top: 190%;
    right: 5%;
    position: absolute;
    max-width: 500px;
}

/* Mova a seção "Metodologia" para baixo */
#methodology3 {
    top: 250%;
    left: 5%;
    position: absolute;
    max-width: 500px;
}

/* Mova a seção "Metodologia" para baixo */
#methodology4 {
    top: 250%;
    right: 5%;
    position: absolute;
    max-width: 500px;
}